<div class="col-md-4">
    <div class="beer-type">
        <img class="beer-type-img" src="{{image_url}}" alt="" />
        <div class="beer-type-body">
            <h5 class="beer-type-name">{{name}}</h5>
            <h5 class="beer-type-tagline">{{tagline}}</h5>
            <p class="beer-type-description">{{description}}</p>
        </div>
    </div>
</div>